/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*  universal styling */
.row{
  margin: 0 !important;
  padding: 0 !important;
}

/* about page  */
.about{
  background-image: url(./assets/images/waterfall.jpg);
  justify-content: center;
  display:grid;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}