/*  universal styling */
.row{
  margin: 0 !important;
  padding: 0 !important;
}

/* navbar */
.nav{
  font-family: 'Shippori Mincho B1', serif;
  font-weight: bold;
}

.brand-logo{
  font-family: 'Shippori Mincho B1', serif;
  font-weight: bold;
}

/* about page  */
.about{
  background-image: url(./assets/images/waterfall.jpg);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutCard{
  margin-top: 5% !important;
  border-radius: 30px !important;
  background-color: rgba(255, 255, 255, 1);
  opacity: .96;
  font-family: 'Shippori Mincho B1', serif;
  font-size: large;
  font-weight: bolder;
  min-height: 50vh;
}

h1{
  margin-top: 0% !important;
}

.aboutText{
  padding: 10px;
}

.profileImg{
  margin-top:15%;
  margin-bottom: 0px;
}

/* contact */
.contact{
  background-image: url(./assets/images/waterfall_forest.jpg) !important;
}

label{
  font-size:large !important;
  font-weight: 900 !important;
  margin-bottom: 10%;
  color: black !important;
}

textarea{
  margin-top: 1.5% !important;
  min-height: 15vh;
}

button{
  margin-top: 3% !important;
  font-family: 'Shippori Mincho B1', serif !important;
}

/* portfolio */
.portfolio{
  justify-content: center;
  align-items: center;
}

.projectCard{
  opacity: .96;
  font-family: 'Shippori Mincho B1', serif;
  /* padding: 10px; */
  /* font-size: large;
  font-weight: bolder; */
}

.modalImg{
  height:50vh;
  /* width: 50vh !important; */
}

.modalBackdrop{

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  h1 {
    font-size: xx-large !important;
    padding: 0;
  }

}


