/*  universal styling */
.row{
  margin: 0 !important;
  /* padding: 0 !important; */
}

/* navbar */
.nav{
  font-family: 'Shippori Mincho B1', serif;
  font-weight: bold;
}

.brand-logo{
  font-family: 'Shippori Mincho B1', serif;
  font-weight: bold;
}

/* about page  */
.about{
  background-image: url(./assets/images/waterfall.jpg);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutCard{
  margin-top: 5% !important;
  border-radius: 30px !important; 
  background-color: rgba(255, 255, 255, 1);
  opacity: .96;
  font-family: 'Shippori Mincho B1', serif;
  font-weight: 900 !important;
  min-height: 50vh;
}

.aboutHeader{
  display: flex !important;
  align-items: flex-end !important;
  /* align-items: center !important; */
}

.aboutText{
  padding: 10px;
}

.aboutTitle h1 {
  margin-bottom:auto !important;
  font-weight: 900 !important;
}

/* h1 title left col */
  div.aboutTitle.col.s8.m8.l8{
    max-width:83.3333333333%;
    margin-left: 0%;
}

/* img right col */
div.aboutTitle.col.s4.m4.l4{
  max-width: 15em !important;
  width: 33.3333333333%;
  margin-right: auto;
  display: flex !important;
  align-items: center !important;
}

/* contact */
.contact{
  background-image: url(./assets/images/waterfall_forest.jpg) !important;
}

label{
  font-size:large !important;
  font-weight: 900 !important;
  margin-bottom: 10%;
  color: black !important;
}

textarea{
  margin-top: 1.5% !important;
  min-height: 15vh;
}

button{
  margin-top: 3% !important;
  font-family: 'Shippori Mincho B1', serif !important;
  margin-bottom: 3% !important;
}

/* portfolio */

.portfolio{
  padding-top: 3% !important;
  background-image: url(./assets/images/grooves.webp);
  margin: auto !important;
}

.img-thumbnail {
  height:35vh !important;
  width: 100%;
  cursor: pointer;
  border-style: solid;
}

/* modal */

.modalProject.card {
  align-content: center;
  height: 40vh !important;
  width: auto !important;
  border-style: solid;
  margin: 0 !important;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	/* bottom: 0; */
	/* left: 0; */
	/* overflow: auto; */
	/* position: fixed; */
	/* right: 0; */
	/* top: 0; */
	/* z-index: 1; */
  /* height: 35vh !important; */
  /* width: 60% !important; */
}

/* .modalContainer {
	border-radius: 5px;
	min-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
  min-height: 100% !important;
} */

.modalText li{
  font-family: 'Shippori Mincho B1', serif !important;
  color:white;
}

p.modalText{
  font-family:  'Shippori Mincho B1', serif !important ;
  color:white;
}

.modalTitle {
	font-weight: 500;
	margin-bottom: 25px;
  font-family: 'Shippori Mincho B1', serif !important;
  text-decoration: underline;
  color:white;
}

.links a {
  font-family:'Shippori Mincho B1', serif !important;
  color: white !important;
  margin: 3%;
}

/* resume */

.resume{
  background-image: url(./assets/images/coast.jpg);
}

div.card-action a{
  color:white !important; 
}

h4{
  font-weight: 600;
}

.card-action{
  margin-top: 5% !important;
}

/* footer */
ul{
  font-family:'Shippori Mincho B1', serif !important;
}

.icons{
  height: 65px;
  width: 65px;
}

/* Large devices (laptops/desktops, 992px max and down) */
@media only screen and (max-width: 992px) {

  .aboutTitle h1{
    font-size: 3em !important;
  }













}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .aboutTitle h1{
    font-size: 2em !important;
  }

  h4{
    font-size: x-large !important;
    margin-left: 15px !important;
  }

  img.modalProject {
    max-width: 100% !important;
    margin: 10px;
}

}

/* screens smaller than 500px GalaxyFold is 280px  */
@media only screen and (max-width: 500px) {

  .aboutTitle h1{
    font-size: 1.5em !important;
  }
}